.loginForm,
.registrationForm {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: fit-content;
  max-width: 100%;
  width: fit-content;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.loginForm input {
  align-self: center;
  width: 12em;
}

.registrationForm input {
  align-self: center;
  width: 12em;
}
