.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  /* margin: auto; */
}

/* input {
  height: 2em;
  width: 12em;
}

#submit {
  box-sizing: border-box;
  height: 3em;
  width: 12em;
} */