.titleBar {
  box-sizing: border-box;
  left: 0;
  top: 0;
  color: white;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: 1.5em;
  background-color: #000b;
  position: sticky;
  display: flex;
}

.members {
  display: flex;
  flex-flow: row wrap;
}

.member {
  flex-wrap: wrap;
  width: max-content;
  max-width: 50%;
  flex: 2 2 10%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.member:hover {
  cursor: default;
}
